.minimized_bar_container{
  width: 100%;
  border-bottom: 1px solid black;
}

.minimized_bar_ul{
  display: flex;
  flex-direction: row;
  gap: 15px;
  list-style: none;
}

.minimized_bar_li{
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 4px;
}

.minimized_bar_li:hover{
  cursor: pointer;
  color: white;
  background-color: black;
  transition: .3s ease-in-out;
}