.flowsheetVariablesHeader_main_container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom:1px solid rgb(16, 16, 16)
}

.flowsheetVariables_title{
  font-weight: bold;
  font-size: 20px;
  color: rgb(16,16,16);
}

.flowsheetVariablesHeader_icon_container{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flowsheetVariablesHeader_icon_container > span:hover{
  cursor: pointer;
  color: white;
  background-color: #161616;
  transition: .3s ease-in-out;
}

.flowsheetVariablesHeader_icon{
  padding: 10px 10px !important;
  border: 1px solid black;
}

.flowsheetVariableHeader_collapse_btn{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  margin-right: 20px;
}

.flowsheetVariablesHeader_small_icon{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  padding: 5px !important;
  background-color: #D9D9D9;
  border: none;
  border-radius: 6px;
}