#diagnosticsContainer{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: scroll !important;
}

.diagnostic-each_section{
    margin-bottom: 10px;
}

.diagnostics-section_title{
    padding: 10px;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: bold;
    text-transform:uppercase;
}

.diagnostics-section_title:hover{
    cursor: pointer;
    box-shadow: 1px 2px 5px #c5c5c5;
    transition: .3s ease-in-out;
}

.diagnostics-statistic_title_content{
    text-transform: capitalize;
}

.diagnostics-section_content_container{
    padding: 0 20px;
}

.diagnostics_config_content{
    margin-bottom: 5px;
    font-size: 16px;
}

.diagnostics-statistic_row{
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 3px;
    margin-bottom: 3px;
}

.diagnostics-statistic_title_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 100px;
    min-height: 50px;
    border: 1px solid #bcbcbc;
}

.diagnostics-statistic_value_container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    border: 1px solid #bcbcbc;
    min-width: 100px;
    min-height: 50px;
}

.diagnostics-statistic_each_tag{
    padding: 5px;
    text-align: center;
    font-size: 15px;
    color: #6d6d6d;
    text-transform: capitalize;
    background-color: #E2EFF7;
}

.diagnostics-statistic_each_content{
    text-align: center;
}

/*issues*/
.diagnpstics-issues_category{
    position: relative;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #bcbcbc;
}

.diagnostics-issue_title{
    text-transform: capitalize;
    margin-bottom: 4px;
}

.diagnostics-issues_detail_wrapper{

}

.diagnostics-each_issue_detail_container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 3px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #bcbcbc;
}

.diagnostics_each_issue_detail_row{
    display: flex;
    flex-direction: row;
}

.diagnostics-each_issue_name,
.diagnostics-each_issue_detail{
    font-size: 15px;
    padding: 5px;
    /* border: 1px solid #bcbcbc; */
}

.diagnostics-each_issue_name{
    min-width: 110px;
    background-color:#E2EFF7 ;
    text-align: center;
    text-transform: capitalize;
    border-right: none;
}

.diagnostics-each_issue_detail{
    border-left: none;
}

.issue_serverity_caution{
    color: #EA7600;
}

.issue_serverity_warning{
    color: #FF7171;
}

.issue_serverity_next{
    color: #53A892;
}