#diagnosticsContainer{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 98%;
    margin-bottom: 100px;
    overflow: scroll !important;
}

.diagnostic-each_section{
    margin-bottom: 10px;
}

.diagnostics-section_title{
    padding: 10px;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: bold;
    text-transform:uppercase;
}

.diagnostics-section_title:hover{
    cursor: pointer;
    box-shadow: 1px 2px 5px #c5c5c5;
    transition: .3s ease-in-out;
}

.diagnostics-statistic_title_content{
    text-transform: capitalize;
}

.diagnostics-section_content_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
}

/*config*/
.diagnostics_config_each_container{
    position: relative;
    display: flex;
    flex-direction: row;
    height: 60px;
    align-items: center;
    margin-bottom: 3px;
    gap: 3px;
}

.diagnostics_config_key{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 5px 10px;
    border:1px solid #bcbcbc;
}

.diagnostics_config_value_container{
    width: 200px;
    height: 100%;
    border: 1px solid #bcbcbc;
}

.diagnostics_config_tag_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 50%;
    text-align: center;
    background-color:#E2EFF7;
    color: #6d6d6d;
}

.diagnostics_config_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 50%;
    text-align: center;
}

/*Statistic*/
.diagnostics-statistic_row{
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 3px;
    margin-bottom: 3px;
}

.diagnostics-statistic_title_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 100px;
    min-height: 20px;
    border: 1px solid #bcbcbc;
}

.diagnostics-statistic_value_container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    border: 1px solid #bcbcbc;
    min-width: 100px;
    min-height: 50px;
}

.diagnostics-statistic_each_tag{
    padding: 5px;
    text-align: center;
    font-size: 15px;
    color: #6d6d6d;
    text-transform: capitalize;
    background-color: #E2EFF7;
}

.diagnostics-statistic_each_content{
    text-align: center;
}

/*issues*/
.diagnostics-issues_category{
    position: relative;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #bcbcbc;
    overflow-x: scroll;
}

.diagnostics-issues_category:hover{
    cursor: pointer;
}

.diagnostics-issues_category:hover .diagnostics-issue_click_detail{
    font-size: 16px;
    color: #6d6d6d;
    font-weight: bold;
}

.diagnostics-issue_title{
    text-transform: capitalize;
    margin-bottom: 4px;
}

.diagnostics-issue_click_detail{
    width: 100%;
    padding-top: 5px;
    text-align: center;
    transition: .3s ease-in-out;
}

/*diagnostics issue table*/
.diagnostics-issue_table{
    width: 100%;
    overflow-x: scroll;
}

.diagnostics-issue_table_head > tr > th{
    padding: 5px 15px;
    background-color: #E2EFF7;
    text-align: left;
}

.diagnostics-issue_table_body > tr > td{
    border: 1px solid #c5c5c5;
}

.diagnostics-issue_table_body > tr > td{
    padding: 5px 15px;
    border-bottom: 1px solid #c5c5c5;
}


/* .diagnostics_each_issue_detail_row{
    display: flex;
    flex-direction: row;
}

.diagnostics-each_issue_name,
.diagnostics-each_issue_detail{
    font-size: 15px;
    padding: 5px;
}

.diagnostics-each_issue_name{
    min-width: 110px;
    background-color:#E2EFF7 ;
    text-align: center;
    text-transform: capitalize;
    border-right: none;
}

.diagnostics-each_issue_detail{
    border-left: none;
    overflow-x: scroll;
}

.diagnostics-each_issue_detail::-webkit-scrollbar{
    display: none;;
}
.diagnostics-each_issue_detail::-moz-scrollbar{
    display: none;;
}

.issue_serverity_caution{
    color: #EA7600;
}

.issue_serverity_warning{
    color: #FF7171;
}

.issue_serverity_next{
    color: #53A892;
} */